include requirements.txt
include wsgi.py
include bin/manage.py
include Makefile

graft _site
graft server

global-exclude .DS_Store

exclude omop_harvest/static/scripts/javascript/app.build.js
exclude omop_harvest/static/scripts/javascript/min/build.txt
exclude omop_harvest/conf/local_settings.py

prune _site/static
prune omop_harvest/static/scripts/coffeescript
prune omop_harvest/static/stylesheets/scss
prune tests