# Essential packages
django>=1.5,<1.6
south==0.8.4
uWSGI
psycopg2==2.5.1
dj-database-url==0.2.2

# Harvest components
avocado>=2.3.0,<2.4.0
serrano>=2.3.0,<2.3.3
modeltree>=1.1.7,<1.2

# Harvest extensions
django-haystack>=2.0,<2.2
python-memcached==1.53
whoosh>=2.6,<2.7
openpyxl
csvkit
django-siteauth==1.0.0
