Django==1.5.5

# Database Drivers, the Python stdlib has support for SQLite
psycopg2==2.5.2
# cx_oracle
# mysql-python

# WSGI server
uWSGI==2.0

# Deployment with fabfile.py
Fabric==1.8.1

# Harvest components
avocado==2.2.1
serrano==2.2.0
modeltree==1.1.7

# Harvest extensions
python-memcached==1.53
django-haystack==1.2.7
whoosh==2.4.0
openpyxl==1.8.0
django-siteauth==1.0.0
