{% extends "base.html" %}

{% block content %}
    {% if form.non_field_errors %}
        <p class="error">{{ form.non_field_errors.0 }}</p>
    {% endif %}
    <form method="post" action="">
        {% csrf_token %}
        <table class=table>
            <tbody>
                <tr>
                    <th>{{ form.email.label_tag }}</th>
                    <td>{{ form.email }}</td>
                </tr>
            </tbody>
        </table>
        <div class="controls">
            <input type="submit" value="Reset Password">
        </div>
    </form>
{% endblock %}
