{% extends "base.html" %}
{% load url from future %}

{% block content %}
    {% if profile.verified %}
        {% if not profile.moderated and moderation_required %}
            Your account has been verified. Account moderators have been notified
            and will begin reviewing your account request.
        {% else %}
            Your account has been verified and is now active. You can now <a href="{% url "login" %}">login</a>.
        {% endif %}
    {% else%}
            This account has been already verified or does not exist.
    {% endif %}
{% endblock %}
