{% load url from future %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class=navbar-inner>
        <div class=container-fluid>
            <a href="{% url "landing" %}" class="brand"> PEDSnet Harvest </a>
            <ul class=nav>
                <li><a href="{% url "workspace" %}"><i class="icon-home"></i> <span class=hidden-phone>Workspace</a></li>                
                <li><a href="{% url "query" %}"><i class=icon-search></i> <span class=hidden-phone>Query</span></a></li>
                <li><a href="{% url "results" %}"><i class=icon-table></i> <span class=hidden-phone>Results</span></a></li>
            </ul>
        </div>
    </div>
</div>
