{% extends "base.html" %}
{% load url from future %}

{% block content %}
    {% if form.non_field_errors %}
        <p class="error">{{ form.non_field_errors.0 }}</p>
    {% endif %}

    <div class="span8 offset2">
        <div class="well">
            <legend>Register for Access</legend>
            <form method="POST" action="">
                {% csrf_token %}

                       {{ form.first_name.label_tag }}
                       {{ form.first_name }}
                    
                   
                       {{ form.last_name.label_tag }}
                       {{ form.last_name }}
                    
                   
                       {{ form.email.label_tag }}
                       {{ form.email }}<br>
                            <span class="help-block">{{ form.email.help_text }}</span>
                            <span class="help-block">{{ form.email.errors.as_text }}</span>
                        
                    
                   
                       {{ form.password1.label_tag }}
                       {{ form.password1 }}<br>
                            <span class="help-block">{{ form.password1.help_text }}</span>
                            <span class="help-block">{{ form.password1.errors.as_text }}</span>
                        
                    
                   
                       {{ form.password2.label_tag }}
                       {{ form.password2 }}
                    
                </table>

                <div class="cls">
                     <button class="btn-info btn" type="submit" value="Register">Register</button> 
                </div>
            </form>
        </div>
    </div> 
{% endblock %}
